<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="viewfile"
      version="0.0.1">

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <name>View File</name>
  <description>An Apache Cordove plugin that opens a file for viewing</description>
  <keywords>file,open,view</keywords>
  <repo></repo>

  <license>Apache 2.0</license>

  <js-module src="www/ViewFile.js" name="ViewFile">
    <clobbers target="viewFile" />
  </js-module>

  <platform name="android">

		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="DocumentHandler" >
        <param name="android-package" value="al.toast.plugins.ViewFile"/>
			</feature>
		</config-file>

    <source-file src="src/android/ViewFile.java" target-dir="src/al/toast/plugins" />

  </platform>


</plugin>
